*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: helvetica, sans-serif;
    font-size: 80%;
    scroll-behavior: smooth;
}

body {
    background-color: #444444;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: rgb(125, 255, 225);
    box-shadow: 0 5px 5px #22222f;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 90px;
}

#navbarc {
    display: flex;
    justify-content: space-between;
}

.left-nav {
    margin: 10px 10px 10px 5px;
    color: blue;
}

.left-nav .fa-b {
    color: orange;
    font-size: 24px;
    transform: translate(58px, -8px) rotate(-0deg);
    cursor: pointer;
}

.left-nav .fa-cube {
    animation: 5s colorc ease-in-out infinite;
    cursor: pointer;
}

@keyframes colorc {
    0% {
        color: blue;
    }

    50% {
        color: orange;
    }

    100% {
        color: blue;
    }
}

.right-nav {
    margin-right: 10px;
    width: 50%;
}

.right-nav ul {
    display: flex;
    justify-content: center;
    height: 100%;
}

.right-nav ul>li {
    list-style: none;
    height: 100%;
    width: 33.3%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

.right-nav ul>li a {
    color: #6a6a23;
    font-size: 1.5rem;
}

.right-nav ul>li:hover {
    background-color: #ddd;
}

#welcome-section {
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(at top left, gray, orange), radial-gradient(at bottom right, red, green);
    background-blend-mode: difference;
}

h1 {
    text-align: center;
}

section {
    font-size: 1.4rem;
}

#welcome-section .welcome-center h1 {
    color: orange;
    font-size: 2.5rem;
    font-weight: 800;
    padding: 5px;
    margin-bottom: 10px;
}

#welcome-section .welcome-center p {
    text-align: center;
    color: wheat;
    font-size: 1.2em;
    line-height: 1.5em;
}

#project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.project-tile {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}

.project-tile h3 {
    text-align: center;
    padding: 5px;
    text-decoration: underline;
    background-color: #444;
}

.project-tile p {
    text-align: center;
    padding: 5px;
    margin: 5px 0;
}

.project-tile a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #444;
}

.project-tile a span {
    opacity: 0;
    transition: opacity 0.3s linear;
}

.project-tile a:hover span {
    opacity: 1;
}

footer {
    height: 150px;
    flex-shrink: 0;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #ddd;
}

.contact .links {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
}

.contact h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

hr {
    width: 100%;
    border: 5px solid #aaa;
}

.contact .links .fa-github:hover {
    color: black;
}

.contact .links .fa-x-twitter:hover {
    color: black;
}

.contact .links .fa-linkedin:hover {
    color: rgba(0, 0, 250, 0.9);
}

.contact .links .fa-free-code-camp:hover {
    color: black;
}

@media (max-width: 720px) {
    #project-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .right-nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .right-nav {
        width: 100%;
    }

    #navbarc {
        flex-direction: column;
    }

    #navbar {
        text-align: center;
    }
}